[user]
	#name = ?
	#email = ?
[github]
	#user = ?
	#token = ?
[pager]
        log = diff-highlight | less
        show = diff-highlight | less
        diff = diff-highlight | less
[alias]
	#short command = long command
	undo = reset --soft HEAD^
	unstage = reset
	stash-all = stash save --include-untracked
[color]
	ui = true
[core]
	autocrlf = input #set this to "input" on Mac/Linux and "true" on Windows
	#editor = ?
[diff]
	mnemonicprefix = true
	rename = copy
[grep]
	lineNumber = true
[interactive]
	singlekey = true
[branch]
	autosetuprebase = always
